//- article
mixin article
  article.article
    block

//- article__header
mixin article__header
  header.article__header
    block

//- article__heading
mixin article__heading(text, mods)
  -
    // list modificators
    var allMods = ''
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',')
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' article__heading--' + modsList[i].trim()
      }
    }

  case modsList[0]
    when 'level-1': h1(class='article__heading' + allMods)&attributes(attributes)!= text
    when 'level-2': h2(class='article__heading' + allMods)&attributes(attributes)!= text
    when 'level-3': h3(class='article__heading' + allMods)&attributes(attributes)!= text
    when 'level-4': h4(class='article__heading' + allMods)&attributes(attributes)!= text
    when 'level-5': h5(class='article__heading' + allMods)&attributes(attributes)!= text
    when 'level-6': h6(class='article__heading' + allMods)&attributes(attributes)!= text
    default: h1(class='article__heading' + allMods)&attributes(attributes)!= text

//- article__img
mixin article__img(imageFolder, imageName, caption)
  figure.article__figure
    img.article__img(src='/img/' + imageFolder + '/' + imageName, alt=caption)
    block

//- article__img-caption
mixin article__img-caption(text)
  figcaption.article__img-caption!= text

//- article__desk
mixin article__desk(text)
  p.article__desk!= text

//- article__header
mixin article__header
  header.article__header
    block

//- article__content
mixin article__content
  div.article__content
    block

//- article__paragraph
//- mixin article__paragraph(text)
//-  p.article__paragraph!= text
//-    block

//- article__paragraph
mixin article__paragraph
    p.article__paragraph
      if block
      block

mixin article__span
  span.article__span
    block

//- article__link
mixin article__link(url)
  a.article__link(href= url)
    block

mixin article__strong(text)
  strong.article__strong= text

//- article__list
mixin article__list
  ul.article__list
    block

//- article__list-item
mixin article__list-item(text)
  li.article__list-item!= text

//- article__note
mixin article__note(text)
  aside.article__note
    +article__paragraph
      +article__strong('Примечание.')
        if(text)
          |  !{text}
    block

//- article__table
mixin article__table(mods)
  -
    // list modificators
    var allMods = ''
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',')
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' article__table--' + modsList[i].trim()
      }
    }

  div.article__table-responsive
    table(class='article__table' + allMods)&attributes(attributes)
      block

//- article__table-head
mixin article__table-head
  thead.article__table-head
    block

//- article__table-body
mixin article__table-body
  tbody.article__table-body
    block

//- article__table-row
mixin article__table-row
  tr.article__table-row
    block

//- article__table-cell
mixin article__table-cell(mods)
  -
    // list modificators
    var allMods = ''
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',')
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' article__table-cell--' + modsList[i].trim()
      }
    }

  td(class='article__table-cell' + allMods)

//- article__steps
mixin article__steps
  ol.article__steps
    block

//- article__steps-item
mixin article__steps-item
  li.article__steps-item
    block
      
mixin article__table-cell
  th.article__table-cell
